
/* Header Section */

body{
    width: 100%;
}

header {
    height: 6rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px whitesmoke;
}

 header div {
     margin-left: 2rem;
     display: flex;
 }

header .container {
    margin-right: 2rem;
}

 header a{
     color: white;
     margin-right: 1rem;
     text-decoration: none;
 }

 main {
    margin-top: 6rem;
 }

 /* Introduction Section */

 .intro {
     background-color: antiquewhite;
     padding: 10rem 5rem;
     display: flex;
     justify-content: space-between;
 }

 .intro div {
     display: flex;
 }

 .intro-image {
     width: 25rem;
     height: 25rem;
     border: 2px black solid;
 }

 .intro-text {
     width: 30rem;
     flex-direction: column;
     line-height: 1.5rem;
     font-size: 1.25rem;
 }

 h2 {
     font-size: 2rem;
 }

 /* Experience Section */

 .experience {
    padding: 10rem 5rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

.skills-image img {
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.projects {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.projects .container {
    width: 20rem;
    margin-right: 5rem;
}