
/* Header Section */

body{
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    height: 6rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3B3B3B;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
}

 header div {
     margin-left: 2rem;
     display: flex;
 }

 header .navNavigator {
    margin-right: 2rem;
 }

.navNavigator {
    display: flex;
    flex-direction: column;
}

.navNavigator div {
    background-color: azure;
    height: 0.2rem;
    width: 2rem;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}

 main {
    margin-top: 6rem;
 }

 .navNavigator div {
    transition: 300ms linear 100ms;
    z-index: 20;
 }

 .navNavigator :hover{
    cursor: pointer;
 }

 .navbar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    border-left: 1px solid white;
    background-color: black;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    align-items: center;
 }

 .navbar a {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
 }

 .navbar .navNavigator {
    margin-top: 1rem;
 }

 /* Introduction Section */

 .intro {
     background-color: white;
     padding: 10rem 5rem;
     display: flex;
     justify-content: space-between;
 }

 .intro div {
     display: flex;
 }

 .intro-image {
     width: 25rem;
     height: 25rem;
     border: 2px black solid;
 }

 .intro-text {
     width: 30rem;
     flex-direction: column;
     line-height: 1.5rem;
     font-size: 1.25rem;
 }

 h2 {
     font-size: 2rem;
 }

 /* Experience Section */

 .experience {
    padding: 10rem 5rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.projects .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 20rem;
    width: 20rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.projects img {
    margin: 4rem;
    height: 10rem;
    width: 10rem;
}

.projects .projectWC {
    border: 1px solid black;
}

.projects .projectWIP {
    width: 8rem;
}

.skills {
    text-align: center;
    margin: 5rem auto;
}

.skills-image img {
    margin: 4rem;
    height: 3rem;
    width: 3rem;
}

/* Contact Section */

.contact {
    padding: 10rem 5rem;
    display: flex;
    flex-direction: column;
}

.contact-text {
    margin-bottom: 5rem;
}

.contact-image {
    display: flex;
    justify-content: flex-start;
}

.contact-image img {
    height: 3rem;
    width: 3rem;
}

.contact-image .image-container {
    margin-right: 10rem;
    text-align: center;
}

.contact-image .image-container a :hover{
    opacity: .60;
    transition: 300ms linear 100ms;
}

/* Footer Section */

footer {
    border-top: black solid 1px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #1E1E1E;
    height: 6rem;
}

footer p {
    margin-left: 2rem;
    font-weight: bold;
    color: white;
}